/* Style.css */

* {
  font-family: "Times New Roman", Georgia, Times, serif;
}

.quiz,
.scores {
  margin: 50px auto 0 auto;
  max-width: 80%;
}

#top {
  color: green;
}

#and {
  color: red;
}

.containerNew {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 70%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: azure;
}

p {
  margin: 15px 15px;
}

.landing {
  text-align: center;
}

.scoresHeader {
  position: absolute;
  top: 15px;
  left: 15px;
}

.timer {
  position: absolute;
  top: 15px;
  right: 15px;
}

button {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #52865a;
  border-radius: 5px;
  border: 0;
  padding: 20px;
}

button:hover {
  background-color: #2e5b04;
}

.options button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

.hide {
  display: none;
}

.feedback {
  font-style: initial;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 15px;
  color: #fff;
  border-top: 2px solid #4b0082;
}

ol {
  padding-left: 15px;
  max-height: 700px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #dfdae7;
}

@media screen and (max-width: 768px) {
  .containerNew {
    width: 80%;
  }
}

@media screen and (max-width: 575px) {
  .containerNew {
    width: 90%;
  }

  .quiz,
  .scores {
    max-width: 90%;
  }
}
